body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    padding: 0 2%;
    display: flex;
    color: rgb(24, 24, 152) ;
}

nav ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}
a {
    text-decoration: none;
    color: rgb(24,24,152);
}
nav {
    margin-left: auto;
}

.main {
    position: relative;
}

.box {
    width: 70%;
    height: 30%;
    position: absolute;
    background-color: rgb(24, 24, 152);
    z-index: 0;
}

.ttl {
    font-size: 70px;
    margin-top: 300px;
}

.main__img {
    width: 50%;
    margin-top: -200px;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    z-index: 10;
    display: block;
}
